<div class="row text-center">

  <div class="col mb-4">
    <button
      class="btn p-3 m-3 rounded-pill"
      [ngClass]="{'btn-primary': currentFilter === 'social', 'btn-light': currentFilter !== 'social'}"
      (click)="setFilter('social')"><strong>Social</strong></button>

    <button
      class="btn p-3 m-3 rounded-pill"
      [ngClass]="{'btn-primary': currentFilter === 'education', 'btn-light': currentFilter !== 'education'}"
      (click)="setFilter('education')"><strong>Educació</strong></button>

    <button
      class="btn p-3 m-3 rounded-pill"
      [ngClass]="{'btn-primary': currentFilter === 'charity', 'btn-light': currentFilter !== 'charity'}"
      (click)="setFilter('charity')"><strong>Caritat</strong></button>

    <button
      class="btn p-3 m-3 rounded-pill"
      [ngClass]="{'btn-primary': currentFilter === 'cooking', 'btn-light': currentFilter !== 'cooking'}"
      (click)="setFilter('cooking')"><strong>Cuinar</strong></button>

    <button
      class="btn p-3 m-3 rounded-pill"
      [ngClass]="{'btn-primary': currentFilter === 'relaxation', 'btn-light': currentFilter !== 'relaxation'}"
      (click)="setFilter('relaxation')"><strong>Relaxació</strong></button>

      <button
      class="btn p-3 m-3 rounded-pill"
      [ngClass]="{'btn-primary': currentFilter === 'intenseWork', 'btn-light': currentFilter !== 'intenseWork'}"
      (click)="setFilter('intenseWork')"><strong>Treball intens</strong></button>
  </div>

</div>




